.DS_Store
/01_EDA/docs/*
/01_EDA/data/*
/01_EDA/entregables/*
/01_EDA/notebooks/EDA_Airbnb.ipynb

/02_SupervisedLearning/.Rhistory
/02_SupervisedLearning/test.md
/02_SupervisedLearning/homeworks/*
/02_SupervisedLearning/materials/*
/02_SupervisedLearning/data/*


/02_SupervisedLearning/notebooks/Linear Regression and Logistic Regression/03_LR_alumnos.ipynb
/02_SupervisedLearning/notebooks/Linear Regression and Logistic Regression/WhatsApp.ipynb

/02_SupervisedLearning/models/*